body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    font-family: Copperplate;
}

        /* buttons */

#buttons {
    padding: 2% 0%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid salmon;
    background-color: aliceblue;
}

.menu {
    border: 3px solid salmon;
    border-radius: 15px;
    padding: 2%;
    background-color: floralwhite;
    margin-right: 5%;
    cursor: pointer;
}

.menu:hover {
    text-shadow: 2px 2px skyblue;
}

.reservation {
    border: 3px solid skyblue;
    border-radius: 15px;
    padding: 2%;
    margin-left: 5%;
    background-color:floralwhite;
    cursor: pointer;
}

.reservation:hover {
    text-shadow: 2px 2px salmon;
}

        /* header */
header {
    margin: 0;
    padding: 0;
    height: 550px;
    position: relative;
    overflow: hidden;
}

.header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 1000; 
    width: 100%;
    position: fixed;
    top:0;
    height: 100px;
    border-bottom: 2px solid gold;
    z-index: 1;
}

#title {
    font-size: 5rem;
    margin: 0;
    color: black;
    text-shadow: 3px 3px gold;
    text-align: center;
}

#subtitle {
    font-size: 1.5rem;
    color: black;
    text-shadow: 2px 2px gold;
    text-align: center;

}

img {
    margin: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    position: absolute;
    right: 0;
}

        /* content */

.content {
    background-color: whitesmoke;
    border-top: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-text {
    margin-bottom: 20px;
}

.gm-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 5px;
}

.gm-link:hover {
    text-shadow: 1px 1px white;
    background-color: pink;
}

.about {
    width: 50%;
    text-align: center;
    font-size: 200%;
    margin: 3% 2%;
}

.map {
    margin-bottom: 20px;
    font-size: 200%;  
    text-align: center;
}

#map {
    border: 3px solid pink;
    border-radius: 8px;
    margin-right: 20px;
    z-index: 0;
}

        /* footer */

footer {
    border-top: 1px solid rgb(132, 113, 255);
    background-color: rgb(21, 0, 41);
    padding: 3%;
}

address {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 8%;
}

.footerLinks {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.footerLinks:hover {
    color: hotpink;
}

/* responsiveness */

@media screen and (max-width: 800px) {
    
    #title {
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 2px 2px gold;
    }

    #subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        text-shadow: 1px 1px gold;
    }

    img {
        height: 400px;
    }

    header {
        height: 400px;
    }

    #buttons {
        font-size: 1.3rem;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-right: 0%;
        margin-bottom: 3%;
        padding: 3% 2%;
        width: 50%;
        border-width: 3px;
    }

    .reservation {
        margin-left: 0%;
        padding: 3% 2%;
        width: 50%;
        border-width: 3px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .about {
        font-size: 1.3rem;
        width: 90%;
    }
    
    #maptitle {
        margin-top: 0;
    }

    .map {
        width: 100%;
        font-size: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #map {
        margin-right: 0;
        margin-bottom: 15px;
    }

}


@media screen and (max-width: 450px) {
    
    #title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 5%;
        padding: 5px 15px;
    }

    #subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 5%;
    }

    header {
        height: 250px;
    }

    img {
        height: 250px;
    }

    #buttons {
        font-size: 90%;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-right: 0%;
        margin-bottom: 5%;
        padding: 3% 2%;
        width: 50%;
    }

    .reservation {
        margin-left: 0%;
        padding: 3% 2%;
        width: 50%;
    }

    .about {
        font-size: 1rem;
    }

    #maptitle {
        margin: 0px 8px 6px 8px;
        font-size: 1rem;
    }

    address {
        font-size: 1rem;
    }

}